#model1 {
	width: 150px;
	position: absolute;
	margin-top: 7px;
	margin-left: 120px;
}

#model2 {
	width: 150px;
	position: absolute;
	margin-top: 7px;
	margin-left: 530px;
}

#plus {
	width: 30px;
	position: absolute;
	margin-top: 7px;
	margin-left: 350px;
}

#moin {
	width: 30px;
	position: absolute;
	margin-top: 7px;
	margin-left: 400px;
}

#canvas {
	position: absolute;
	margin-top: 50px;
	margin-left: 100px;
}

.button {
	border-radius: 8px;
	border: 2px groove #aaa;
	height: 30px;
	line-height: 30px;
	text-align: center;
	font-weight: bold;
	font-family: Arial;
	font-size: 0.9em;
	color: #333;
	cursor: pointer;
}

